@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@* @rendermode InteractiveServer *@

<div class="page">
    <header class="layout-header">
        <a href="/" class="return-button" @onclick="async () => await NavigateHome()">
            <i class="fas fa-arrow-left"></i> Vissza
        </a>
    </header>
    <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private async Task NavigateHome() => NavigationManager.NavigateTo("/");
}